/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
es6.md
notes.md
project.txt
/.phpintel
/app/Http/Paper/query-builder.php
/app/Console/Classes/IndexQuery.php
/app/Console/Classes/TestCollection.php
